#welcome {
    height: inherit;
    background: #485563; 
    background: -webkit-linear-gradient(to left, #29323c, #485563);
    background: linear-gradient(to left, #29323c, #090c13); 
}

.game-container, #game-over {
    height: inherit;
    background-image: url("../../assets/bg.png");
}

#canvas {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #121212;
    border: 2px dashed #304853; 
}

.status-container {
    width: 100%;
    height: inherit;
    background-image: url("../../assets/bg.png");
}

#success{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #50af60;
    color: white;
    width: 840px;
    height: 462px; 
}

#game-over{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #c03e35;
    color: white;
    width: 840px;
    height: 462px; 
}

.status-succes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 5px dashed #000000; 
    background: #2C3E50; 
    background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);  
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50); 
    }

.status-game-over-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 5px dashed #000000; 
    background: #2C3E50; 
    background: -webkit-linear-gradient(to bottom, #FD746C, #2C3E50); 
    background: linear-gradient(to bottom, #FD746C, #2C3E50); 
    
}
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 123, 187);
    transition: all 0.15s ease 0s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(15, 67, 134);
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: 2px dashed black;
    background-color: #141618;
    border-radius: 1rem;
    padding: 1rem;
}

.home-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.github, .linkedin {
    margin: 0.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    background-color: rgb(99, 208, 171);
    color: rgb(255, 255, 255);
    transition: all 0.15s ease 0s;
    text-decoration: none;
    white-space: nowrap;
}

.docs {
    cursor: pointer;
    height: 34.64px;
    margin: 0.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    background-color: rgb(99, 208, 171);
    color: rgb(255, 255, 255);
    transition: all 0.15s ease 0s;
}


#name {
    width: 50%;
    background-color: rgb(180, 230, 180);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(99, 208, 171);
    transition: all 0.15s ease 0s;
    color: rgb(32, 156, 133);
}
.home-go-game {
    cursor: pointer;
    height: 33.33px;
    margin: 0.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    background-color: rgb(36, 80, 65);
    color: rgb(255, 255, 255);
    transition: all 0.15s ease 0s;
}

.game-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.username {
    margin-top: 2rem;
}

.cikis, cikis:visited, cikis:hover, cikis:active {
    margin-top: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}